@use 'utils/variables' as vars;
@use 'utils/mixins' as *;

@use 'components/buttons';
@use 'components/icons';
@use 'components/cards';

@use 'layout/hero';
@use 'layout/atractions';
@use 'layout/movies';
@use 'layout/watch-options';
@use 'layout/devices';
@use 'layout/faq';
@use 'layout/footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}